* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  background: #071533;
  color: white;
  text-align: center;
}

/* BACKGROUND */

.stars {
  position: fixed;
  inset: 0;
  z-index: -1;
}

.stars::before {
  content: "";
  position: absolute;
  inset: -100%;
  background-image: radial-gradient(white 1px, transparent 1px);
  background-size: 40px 40px;
  animation: moveStars 25s linear infinite;
}

@keyframes moveStars {
  from { transform: translate(0,0); }
  to { transform: translate(-300px,-300px); }
}

/* CONTAINER */

.container {
  width: 90%;
  max-width: 420px;
  margin: auto;
  padding: 40px 10px;
}

/* LOGO */

.logo {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin: 10px auto;
}

/* BUTTON */

.btn {
  display: block;
  margin: 12px 0;
  padding: 15px;
  border-radius: 15px;
  text-decoration: none;
  color: white;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
}

.btn-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* ICON */

.btn-icon {
  width: 26px;
  height: 26px;
  flex-shrink: 0;
}

/* TEXT */

.btn-text-wrapper {
  overflow: hidden;
  width: 100%;
}

.btn-text {
  white-space: nowrap;
  display: inline-block;
}

/* RUNNING TEXT */

.btn-text.move {
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
